<header>
    <div class="title">
        <a routerLink="/main/">
            <span class="title_1">Verne's</span>
            <span class="title_2">Archive</span>
        </a>
    </div>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li>
                    <a routerLink="/main/">Home</a>
                </li>
                <li>
                    <a routerLink="/about-it/">About it</a>
                </li>
            </ul>
        </nav>
    </div>
</header>