<footer>
    <section>
        <ul>
            <li class="copyright">
                &copy; All rights reserved
            </li>
            <li>
                <a href="https://github.com/Andre-FSM" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/andré-minicz" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </section>
</footer>