    .container {
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex: 1;
    margin: auto;
    font-size: 28px;
    text-align: center;
    width: 500px;
    color: hsl(0, 0%, 20%);
}